git_token.txt
dataset/MICCAI_BraTS2020_TrainingData.zip
dataset/MICCAI_BraTS2020_TrainingData
dataset/MICCAI_BraTS2020_ValidationData.zip
dataset/MICCAI_BraTS2020_ValidationData
dataset/Results-180266886956190204.zip
